html,body{
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
#app{
  //高度和宽度100%
  height: 100%;
}

.flex{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.flex-column{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-wrap{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.left,.right{
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: row;
}